@model EaTS.Models.EquipmentType;

<div class="modal" id="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @if (Model.Id == 0)
                {
                    <p class="modal-title">Добавить тип</p>
                }
                else
                {
                    <p class="modal-title">Изменить тип</p>
                }
                <a href="" onclick="CloseModal()" title="Закрыть" class="close">×</a>
            </div>
            <div class="modal-body">
                <form method="post" asp-action="Upsert">
                    <input asp-for="Id" hidden />
                    <div>
                        <div asp-validation-summary="ModelOnly"></div>
                        <div>
                            <div>
                                <label asp-for="Name"></label>
                                <input asp-for="Name"/>
                                <span asp-validation-for="Name"></span>
                            </div>
                            <div>
                                <input type="submit" value="Сохранить" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
<script>
    function CloseModal() 
    {
       $('.modal').remove();
    }

</script>
}