@model EaTS.Models.EquipmentType;

@{
    ViewData["Title"] = "Изменить тип";
    if (Model.Id == 0)
        ViewData["Title"] = "Добавить тип";
}

<div>
    <div class="row page-header">
        <div class="column">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>

    <form method="post" asp-action="Upsert">
        <input asp-for="Id" hidden />
        <div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div>
                <div>
                    <div>
                        <label asp-for="Name"/>
                        <input asp-for="Name" />
                        <span asp-validation-for="Name"></span>
                    </div>
                </div>

                <div>
                    <div>
                        <input type="submit" value="Сохранить" />
                        <a asp-action="Index"><i class="fas fa-sign-out-alt"></i> &nbsp; Назад</a>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}